.user-block {
  /* Custome style */
  right: 0;
  display: inline-block;
  position: absolute;
  padding-right: 1rem;
}

.user-block a {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #2e2e2e;
  padding-left: 24px;
}

.user-info {
  position: relative;
  display: inline-block;
  text-decoration-line: none;
}

.messaging-container {
  background-color: white;
}
