.message {
  margin: 0 1.5rem 0.5rem 0.5rem;
}

.message-list-container {
  background-color: white;
  overflow-y: auto;
  position: relative;
}

.message-list-header {
  background-color: inherit;
  text-align: center;
  padding: 1.5rem 3rem;
  margin-bottom: 1rem;
  border-bottom: 0.5px solid #d4d5d8;
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.date-header {
  display: flex !important;
  margin: 0 auto;
  width: fit-content;
}
